doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1#page-title Lorem ipsum dolor sit amet.
        p.page-descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, recusandae?
        p.page-descr.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, recusandae?
            em Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa minus maxime dolorum. Vero, architecto aspernatur!
        div Lorem ipsum dolor sit amet.
        .div-with-class Lorem ipsum dolor sit amet.
        #div-with-id Lorem ipsum dolor sit.