extends templates/layout

block main 
    main 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, cupiditate. Neque eos iure itaque beatae assumenda aliquid molestiae harum eaque vitae quae debitis quos, animi tempora maiores recusandae et natus mollitia fugit placeat, quam porro! Iure odit ex possimus maiores temporibus facilis, quas eaque earum alias, mollitia dolor ipsum dolore.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis excepturi fugiat suscipit iusto modi quibusdam facere quae itaque distinctio placeat, magnam error in?