doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    // orderStatus => Pending || InTransit || Completed

    -const orderStatus = 'InTransit';

    case orderStatus
        when 'Pending'
            p Your order has been placeed and will be sent shortly.
        when 'InTransit'
            p Your order is on move - you should receive it soon!
        when 'Completed'
            p Your order has been completed.
        default
            p Sorry! We aren't sure what happened with your order...