doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 My Web Application 

        -let user = { name: "Tom", loggedIn: false, lastLogin: 5 }

        if user.loggedIn 
            p
                | Welcome back, 
                strong #{user.name}
        else if user.lastLogin < 10
            p Your last login was #{user.lastLogin} minutes ago 
            p
                a(href="/login") Log in again
        else 
            a(href="/login") Log in